@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a password manager app built using ASP.NET Core and C#. This project is mainly to help me break into these technologies.</a>.</p>
</div>
